@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100&display=swap");

.app {
  width: 100%;
  height: calc(100vh);
  background: rgb(238, 238, 238);
  background: linear-gradient(
    90deg,
    rgba(238, 238, 238, 1) 10%,
    rgba(237, 237, 237, 1) 16%,
    rgba(212, 212, 212, 1) 33%,
    rgba(222, 210, 210, 1) 100%
  );
}

.box {
  /* border: 1px solid black; */
  position: absolute;
  top: 40%;
  left: 7%;
}

.tittle {
  font-family: "Press Start 2P", cursive;
  padding: 0px;
  margin: 0px;
  font-size: 3em;
}

.sub-tittle {
  font-family: "Glory", sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 1.85em;
}

/* DECORATION */

.hexagon {
  width: 200px;
  height: auto;
  position: absolute;
  top: 60%;
  left: 80%;
  margin: 0px;
  padding: 0px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.triangle {
  width: 60px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-animation: shakemove 5s linear infinite;
  -moz-animation: shakemove 5s linear infinite;
  animation: shakemove 5s linear infinite;
}

.mario {
  position: absolute;
  width: 71px;
  height: 72px;
  background: url("https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/mariowalking/result.png")
    left center;
  top: 31%;
  left: -10%;

  -webkit-animation: play 0.8s steps(4) infinite, run 7s both infinite linear;

  animation: play 0.8s steps(4) infinite, run 7s both infinite linear;
}
@-webkit-keyframes play {
  100% {
    background-position: -284px;
  }
}
@keyframes play {
  100% {
    background-position: -284px;
  }
}
@-webkit-keyframes run {
  from {
    left: -500px;
  }
  to {
    left: 96%;
  }
}
@keyframes run {
  from {
    left: -500px;
  }
  to {
    left: 96%;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes shakemove {
  0% {
    top: 10%;
    left: 10%;
  }
  20% {
    top: 12%;
    left: 10%;
  }
  40% {
    top: 15%;
    left: 10%;
  }
  60% {
    top: 12%;
    left: 10%;
  }
  100% {
    top: 10%;
    left: 10%;
  }
}

/* END OF DECORATION */

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .tittle {
    font-family: "Press Start 2P", cursive;
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
  }

  .sub-tittle {
    font-family: "Glory", sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 0.85em;
  }

  .hexagon {
    /* display: none; */
    width: 50px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 80%;
    margin: 0px;
    padding: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

@media only screen and (max-width: 375px) {
  .tittle {
    font-family: "Press Start 2P", cursive;
    padding: 0px;
    margin: 0px;
    font-size: 1em;
  }

  .sub-tittle {
    font-family: "Glory", sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 0.85em;
  }

  .hexagon {
    width: 80px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 60%;
    margin: 0px;
    padding: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

@media only screen and (max-width: 425px) {
  .tittle {
    font-family: "Press Start 2P", cursive;
    padding: 0px;
    margin: 0px;
    font-size: 1em;
  }

  .sub-tittle {
    font-family: "Glory", sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 0.85em;
  }

  .hexagon {
    width: 80px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 60%;
    margin: 0px;
    padding: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

@media only screen and (max-width: 768px) {
  .tittle {
    font-family: "Press Start 2P", cursive;
    padding: 0px;
    margin: 0px;
    font-size: 2em;
  }

  .sub-tittle {
    font-family: "Glory", sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1.25em;
  }

  .hexagon {
    width: 120px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 60%;
    margin: 0px;
    padding: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

@media only screen and (max-width: 1024px) {
  .tittle {
    font-family: "Press Start 2P", cursive;
    padding: 0px;
    margin: 0px;
    font-size: 2.825em;
  }

  .sub-tittle {
    font-family: "Glory", sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
  }

  .hexagon {
    width: 120px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 60%;
    margin: 0px;
    padding: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

@media only screen and (max-width: 1442px) {
  .tittle {
    font-family: "Press Start 2P", cursive;
    padding: 0px;
    margin: 0px;
    font-size: 3.825em;
  }

  .sub-tittle {
    font-family: "Glory", sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 2em;
  }

  .hexagon {
    width: 120px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 60%;
    margin: 0px;
    padding: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

/* END OF MEDIA QUERY */

/* KEYFRAMES  */

/* END OF KEYFRAMES */
